body{
    width: 100%;
    height: 100vh;
    background-color: var(--header);
}

/* logo */

header{
    width: 100%;
    display: flex;
}

header img{
    width: 10dvh;
    margin: 20px;
    margin-left: 35px;
}

/* Navegação */


header nav{
    width: 100%;
    align-content: center;
    justify-content: flex-end;
}

header nav ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 5px;
}

header nav ul li a{
    color: white;
}

header nav ul li{
    display: flex;
    margin-right: 4%;
    font-size: 13px;
    color: white;
}

header nav ul li a:hover{
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
}

/* Main*/

main .hero{
    margin-top: 3%;
    background: url(../images/bg-wave-desktop.svg) no-repeat;
    background-size: contain;
    background-position: bottom;
}

main .hero div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main .hero div img{
    width: 35%;
}

main .hero div h1{
    text-align: center;
    width: 30%;
    margin-top: 26px;
    font-size: 20px;
    line-height: 1.5;
}

main .hero div p{
    text-align: center; 
    width: 30%;
    margin-top: 1%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

main .hero div .getstarted{
    text-align: center;
    font-size: 13px;
    margin-top: 2%;
    margin-bottom: 15%;
    width: 30dvh;
    padding: 15px;
    border-radius: 30px;
    font-weight: 700;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    transition: 0.5s;
}

main .hero div .getstarted:hover{
    background: var(--cal-to-actions);
}

/* Features */

main .features{
    background-color: var(--main);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 60px 10%;
}

main .features .feature{
    text-align: center;
    padding: 20px;
    width: 100%;
}

main .features .feature img{
    margin-top: 10px;
    margin-bottom: 20px;
}

main .features .feature h2{
    margin-bottom: 10px;
}

main .features .feature p{
    width: 65%;
    margin: 0 auto;
}

/* Productivity */

main .productivity{
    display: flex;
    align-items: center;
    background-color: var(--main);
}

main .productivity img{
    width: 30%;
    margin-left: 100px;
    margin-top: 2%;
}

main .productivity .textproduc{
    margin-left: 100px;
}

main .productivity .textproduc h2{
    font-size: 30px;
    width: 50%;
    margin-bottom: 30px;
}

main .productivity .textproduc p{
    font-size: 16px;
    width: 60%;
    margin-bottom: 20px;
}


main .productivity .textproduc .seehow{
    color: var(--cal-to-actions);
    text-decoration: underline;
    transition: 0.3s;
}


main .productivity .textproduc .seehow::after{
    content: url(../images/icon-arrow.svg);
    display: inline-block;
    margin-top: 10px;
    margin-left: 4px;

} 

main .productivity .textproduc a:hover{
    color: var(--neutral);
} 

/*Testimonials*/

main .testimonials{
    position: relative;
    background-color: var(--main);
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

main .testimonials .quotes{
    display: flex;
    position: absolute;
    margin-left: -1200px;
    z-index: 0;
}

main .testimonials .part1{
    position: relative;
    z-index: 1;
    box-shadow: 5px 5px 10px var(--header);
    margin: 30px;
    padding: 20px;
    width: 28%;
    background-color: var(--header);
    border-radius: 8px;
}

main .testimonials .part1 .description{
    padding: 10px;
    line-height: 23px;
}

main .testimonials .part2{
    display: flex;
}

main .testimonials .profile{
    border-radius: 50%;
    width: 9%;
    height: 9%;
}

main .testimonials .part2 .info{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

main .testimonials .part2 .info h2{
    font-size: 15px;
}

main .testimonials .part2 .info .subsdescription{
    font-size: 12px;
}

main .signup{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 20%;
    margin-top: -5%;
    background-color: var(--header);
    border-radius: 8px;
    width: 60%;
    height: 35%;
}

main .signup-content{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}

main .signup-content p{
    font-weight: 300 ;
    width: 80%;
    margin-top: 15px;
}

main .signup form{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

main .signup input{
    padding: 15px;
    border: none;
    border-radius: 25px;
    width: 50%;
    outline: none;
}

main .signup button{
    padding: 15px 25px;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    font-family: var(--text-font);
    font-weight: 700;
    color: var(--neutral);
    cursor: pointer;
    transition: 0.5s;
    background: linear-gradient(to right, var(--cal-to-actions), var(--call-to-actions));
}

main .signup button:hover{
    background: var(--cal-to-actions);
}

/* Footer*/

footer{
    background-color: var(--footer);
}

footer .logo-footer{
    margin: 230px 0px 0px 70px;
    width: 5%;
}

footer .footer2{
    position: relative;
    display: flex;
    margin-top: 50px;
    margin-left: 70px;
    gap: 10%;
}

footer .footer2 .location{
    width: 22%;
    line-height: 1.5;
    display: flex;
    font-weight: 300;
}

footer .footer2 .location::before{
    content: url(../images/icon-location.svg);
    display: inline-block;
    margin-top: 7px;
    margin-left: 4px;
    margin-right: 25px;
}

footer .footer2 .contact .number{
    font-weight: 300;
}

footer .footer2 .contact .number::before{
    content: url(../images/icon-phone.svg);
    margin-right: 25px;
}

footer .footer2 .contact .email{
    margin-top: 23px;
    font-weight: 300;
}

footer .footer2 .contact .email::before{
    content: url(../images/icon-email.svg);
    margin-right: 25px;
}

footer .footer2 .about{
    display: flex;
    flex-direction: column;
    line-height: 2.0;
    margin-bottom: 60px;
}

footer .footer2 .about .information{
    font-weight: 300;
}

footer .footer2 .about .information a:hover{
    font-weight: 700;
}

footer .footer2 .about2 .politic{
    line-height: 2.5;
    font-weight: 300;
}

footer .footer2 .about2 .politic a:hover{
    font-weight: 700;
}

footer .footer2 .media{
    width: 9%;
}

footer .footer2 .media .social-media{
    display: flex;
    justify-content: space-between;
}

footer .footer2 .media .social-media li i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: var(--neutral);
    border: 2px solid var(--neutral);
    border-radius: 50%;
    transition: 0.5s;
}

footer .footer2 .media .social-media li i:hover{
    color: var(--cal-to-actions);
    border: 2px solid var(--cal-to-actions);
}

