body{
    width: 100%;
    height: 100vh;
}

/* logo */

header{
    display: flex;
    width: 100%;
    background-color: var(--header);
}

header img{
    width: 7%;
    margin: 20px;
    margin-left: 35px;
}

/* Navegação */


header nav{
    width: 100%;
    align-content: center;
    justify-content: flex-end;
}

header nav ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 5px;
}

header nav ul li a{
    color: white;
}

header nav ul li{
    display: flex;
    margin-right: 4%;
    font-size: 10px;
    color: white;
}

header nav ul li a:hover{
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
}

/* Imagem 1 */

main{
    border: 2px solid blue;
    background-color: var(--hero);
}

main .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px solid green;

}

main .hero img{
    margin-top: 12px;
    width: 45%;
}

main .hero h1{
    text-align: center;
    width: 40%;
    margin-top: 26px;
    font-size: 24px;
    line-height: 1.5;
}

main .hero p{
    text-align: center; 
    width: 40%;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}