body{
    width: 100%;
    height: 100vh;
}

/* logo */

header{
    display: flex;
    width: 100%;
    background-color: var(--header);
}

header img{
    width: 7%;
    margin: 20px;
    margin-left: 35px;
}

/* Navegação */


header .navigation{
    width: 100%;
    align-content: center;
    justify-content: flex-end;
}

header .navigation ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 5px;
}

header .navigation ul li{
    display: flex;
    margin-right: 4%;
    font-size: 10px;
    color: white;
}

header .navigation ul li:hover{
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
}

/* Imagem 1 */

main{
    border: 2px solid blue;
    background-color: var(--main);
}

main .content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px solid green;

}

main .content1 img{
    margin-top: 12px;
    width: 45%;
}

main .content1 h1{
    text-align: center;
    margin-top: 26px;
    font-size: 18px;

}
